@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header {
  text-align: center;
  margin: 3rem auto;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

header h1 {
  font-size: 1.5rem;
}

#user-input {
  padding: 2rem 1rem;
  min-width: 25rem;
  margin-top: 2rem;
  border-radius: 4px;
  background: linear-gradient(180deg, #4f5b58, #585858);
  height: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

#result {
  max-width: 100%;
  margin-top: 1rem;
  padding: 0 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

#result thead {
  font-size: 0.85rem;
  color: #e0f0ea;
}

#result tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}

.center,
tbody td {
  text-align: center;
}

.alert {
  margin-top: 2rem;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  #user-input {
    width: 100%;
    margin-right: 0;
  }

  #result {
    width: 100%;
    margin-top: 1rem;
  }
}